* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block: 0;
}

ul,
ol {
  list-style: none;
  padding-inline: 0;
  margin-inline: 0;
}

html {
  font-family: Montserrat;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

body {
  font-size: 62.5%;
  background-color: #fafafa;
}

main {
  padding: 3.2em 1.2em 0;
  max-width: 37.4em;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4em;
  line-height: 1.33em;

  padding-bottom: 0.5em;
}

section {
  padding-bottom: 3em;
}

.header__paragraph {
  font-style: italic;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.25em;

  /* Gray 2 */

  color: #4f4f4f;
}

.section__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1.33em;
  /* identical to box height */

  /* Gray 1 */

  color: #333333;
}
.ingredient__card {
  padding-top: 1.3em;
  padding-bottom: 2em;
}
.section__ingredients {
  padding-bottom: 0;
}

.section__subtitle {
  font-family: Playfair Display;
  font-style: italic;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1.33em;

  /* Gray 1 */

  color: #333333;
  margin-bottom: 1.33em;
}

.ingredient__card label {
  font-size: 1.4em;
  line-height: 1.78em;
}

.section__cooking-info {
  width: 37.5em;
  height: 9.7em;
}

section ol li {
  font-size: 1.6em;
  line-height: 1.5em;
}

.main__illustration {
  display: flex;
  justify-content: center;
  max-height: 23.7em;
  overflow: hidden;
  padding-bottom: 2.4em;
}

.main__illustration img {
  display: block;
  max-width: 35.1em;
  min-height: 20.2em;
  border-radius: 12px;
}

.header__sub-container {
  position: relative;
  padding-left: 2.5em;
  padding-bottom: 2.5em;
}

.header__sub-container .material-icons {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.3em;
  line-height: 0.62em;
  transform: rotate(90deg);
  color: #c4c4c4;
}

ol li {
  margin-bottom: 2.4em;
}
ol li p {
  -webkit-hyphens: none;
  hyphens: none;
}

.section__instructions .section__title {
  line-height: 1.33em;
  font-size: 2.4em;
}
.section__instructions ol {
  padding-top: 2.8em;
  padding-left: 5.1em;
}

.section__instructions ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

.section__instructions ol li {
  position: relative;
  counter-increment: my-awesome-counter;
}

.section__instructions ol li::after {
  position: absolute;
  content: counter(my-awesome-counter);
  top: 0.58em;
  left: -1.375em;
  text-align: center;
  display: flex;
  align-items: center;

  color: #ffffff;
  font-family: Playfair Display;
  font-size: 1.5rem;
  line-height: 1.33em;
  transform: translateX(-50%) translateY(-50%);
  font-weight: bold;
}

.section__instructions ol li::before {
  content: '';
  position: absolute;
  background-color: #f2994a;
  font-size: 1.5rem;
  top: 0;
  left: -2.125em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 6px;
}

.ingredient__card ul li {
  padding-left: 3em;
  position: relative;
}

.ingredient__card ul li {
  min-height: 3.3em;
  padding-bottom: 1em;
}

.ingredient__card ul li label:hover {
  cursor: pointer;
}

.ingredient__card ul li input {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  border: 1px solid #828282;
}
